@{
    ViewData["Title"] = "Buy Confirmation";
}

<div class="card bg-light text-center">
    <div class="card-body">
        <h2 class="card-title">@ViewData["Title"]</h2>

        <div class="alert alert-success" role="alert">
            <i class="bi bi-check-circle-fill"></i> @ViewBag.Message
        </div>
    </div>
</div>
